# Introduction Python

## Python Basic

In [1]:
x=24
y=34
z=x+y
z

58

In [2]:
type(z)

int

In [3]:
a='mahasiswa ITS'
type(a)

str

In [4]:
b=True
type(b)

bool

In [5]:
'saya'+'makan'

'sayamakan'

## List

In [8]:
nilai=[70,67,89,97,75]
nilai

[70, 67, 89, 97, 75]

In [28]:
nilai=['Andi',79,'Dian',87,'Suci',86]
nilai

['Andi', 79, 'Dian', 87, 'Suci', 86]

In [15]:
nilai2=[['Andi',79],
      ['Diana,87'],
      ['Suci',86]]
nilai2

[['Andi', 79], ['Diana,87'], ['Suci', 86]]

In [16]:
type(nilai2)

list

In [17]:
nilai[2]

'Dian'

In [18]:
nilai[3:5]

[87, 'Suci']

In [19]:
nilai[:3]

['Andi', 79, 'Dian']

In [20]:
nilai[4:]

['Suci', 86]

In [25]:
#change list
nilai[1]=90
nilai

['Andi', 90, 'Dian', 87, 'Suci', 86]

In [29]:
nilai[0:2]=['Anton',85]
nilai

['Anton', 85, 'Dian', 87, 'Suci', 86]